
<%= render 'shared/navbar-user' %>

<div class="container-account px-4">


  <h1 class="py-3"> <strong> Mon compte </strong> </h1>
  <div class="edit-info">
    <p> <strong> Prénom : </strong> <%= current_user.first_name %> </p>
    <%# <i class="fas fa-pen"></i> %>
  </div>
  <div class="edit-info">
    <p> <strong> Nom : </strong> <%= current_user.last_name %> </p>
    <%# <i class="fas fa-pen"></i> %>
  </div>
  <div class="edit-info">
    <p> <strong> Nom d'utilisateur :</strong> <%= current_user.username %> </p>
    <%# <i class="fas fa-pen"></i> %>
  </div>
  <div class="edit-info">
    <p> <strong> Email : </strong> <%= current_user.email %> </p>
    <%# <i class="fas fa-pen"></i> %>
  </div>
  <br>

  <div class="deconnexion-button">
    <%= link_to destroy_user_session_path, method: :delete do %>
      <p> Se déconnecter </p>
    <% end %>
  </div>
</div>
