<div class="userbets">

  <%= render 'shared/navbar-user' %>

  <div class="betlist">
    <div class="btn-group-user" role="group">
      <%= link_to "Mes paris publiés",  published_profile_bets_path, class: "btn-bet" %>
      <%= link_to "Mes paris répondus", profile_bettings_path,       class: "btn-active-bet" %>
    </div>

    <div class="cards">
      <% @bettings.each do |betting| %>
        <div class="card index-border-radius-style index-shadow my-3 publication ">
          <div class="image-position">
            <%= cl_image_tag(betting.bet.photo.key, class: "card-img-top index-border-radius-style", alt: "Image that illustrates the bet") %>
          </div>
          <div class="pt-0">
            <p class="index-learn-more-button index-learn-more-hover index-shadow small-btn"><%= link_to "Relire le pari", bet_path(betting.bet), class: "text-decoration-none" %></p>
          </div>
          <div class="card-grey">
            <p class="card-subtitle index-card-question"><%= betting.bet.question %></p>
            <% if betting.bet.expiring_at < Time.now %>
              <% if betting.bet.result == betting.answer%>
                <div class="description-info">
                  <p> Pari clôturé le <%= (betting.bet.expiring_at).strftime("%d/%m/%Y") %></p>
                  <p> Ta réponse : <%= (betting.answer) %></p>
                </div>
                <p class="yellow-black"> Tu as gagné ! </p>
              <% else %>
                <div class="description-info">
                  <p> Pari clôturé le <%= (betting.bet.expiring_at).strftime("%d/%m/%Y") %></p>
                  <p> Ta réponse : <%= betting.answer %></p>
                </div>
                <p class="yellow-black"> Tu as perdu ! </p>
              <% end %>
            <% else %>
              <p class="yellow-black"> Résultat le <%= (betting.bet.expiring_at).strftime("%d/%m/%Y") %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
