<div class="userbets">

  <%= render 'shared/navbar-user' %>

  <div class="betlist">
    <div class="btn-group-user" role="group">
      <%= link_to "Mes paris publiés",  published_profile_bets_path, class: "btn-bet" %>
      <%= link_to "Mes paris répondus", profile_bettings_path,       class: "btn-active-bet" %>
    </div>

    <div class="cards">
      <% @bettings.each do |betting| %>
        <% if betting.bet.expiring_at < Time.now %>
          <%# CARD BET EXPIRED %>
          <div id= <%= betting.id %> class="image-card-link">
            <%= link_to bet_path(betting.bet) do %>
              <div class="card index-border-radius-style index-shadow my-3">
                <%# CARD TOP %>
                <div class="card-top p-3">
                  <div class="index-border-radius-style card-img-bg card-sm p-3 d-flex" style="background-image: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), url(<%= cl_image_path(betting.bet.photo.key, alt: "Image that illustrates the bet") %>);">
                  </div>
                </div>
                <%# CARD BOTTOM %>
                <div class="index-card-grey-background index-bottom-border-radius-style p-3">
                  <p class="clos-tag-position"> Pari clos le <%= betting.bet.expiring_at.strftime("%d/%m/%Y") %></p>
                  <p class="index-card-question"><%= betting.bet.question %></p>
                  <div>
                    <% if betting.bet.result == "yes"%>
                      <% if betting.answer == "yes" %>
                        <div>
                          <div class="d-flex justify-content-between">
                            <div class="right-answer user-choice btn index-button-cote index-button-oui index-shadow">
                              <p class="answer">oui</p>
                              <div>
                                <p>cote</p>
                                <p>1.9</p>
                              </div>
                            </div>
                            <div class="other-choice disable-btn btn index-button-cote index-button-non index-shadow">
                              <p class="answer">non</p>
                              <div>
                                <p>cote</p>
                                <p>2.1</p>
                              </div>
                            </div>
                          </div>
                          <p class="win-reminder"> Gagné !<i class="fas fa-award"></i></p>
                        </div>
                      <% else %>
                        <div>
                          <div class="d-flex justify-content-between">
                            <div class="other-choice disable-btn btn index-button-cote index-button-oui index-shadow">
                              <p class="answer">oui</p>
                              <div>
                                <p>cote</p>
                                <p>1.9</p>
                              </div>
                            </div>
                            <div class="wrong-answer user-choice btn index-button-cote index-button-non index-shadow">
                              <p class="answer">non</p>
                              <div>
                                <p>cote</p>
                                <p>2.1</p>
                              </div>
                            </div>
                          </div>
                          <p class="lose-reminder"> Perdu...</p>
                        </div>
                      <% end %>
                    <% else %>
                      <% if betting.answer == "yes" %>
                        <div>
                          <div class="d-flex justify-content-between">
                            <div class="wrong-answer user-choice btn index-button-cote index-button-oui index-shadow">
                              <p class="answer">oui</p>
                              <div>
                                <p>cote</p>
                                <p>1.9</p>
                              </div>
                            </div>
                            <div class="other-choice disable-btn btn index-button-cote index-button-non index-shadow">
                              <p class="answer">non</p>
                              <div>
                                <p>cote</p>
                                <p>2.1</p>
                              </div>
                            </div>
                          </div>
                          <p class="lose-reminder"> Perdu...</p>
                        </div>
                      <% else %>
                        <div>
                          <div class="d-flex justify-content-between">
                            <div class="other-choice disable-btn btn index-button-cote index-button-oui index-shadow">
                              <p class="answer">oui</p>
                              <div>
                                <p>cote</p>
                                <p>1.9</p>
                              </div>
                            </div>
                            <div class="right-answer user-choice btn index-button-cote index-button-non index-shadow">
                              <p class="answer">non</p>
                              <div>
                                <p>cote</p>
                                <p>2.1</p>
                              </div>
                            </div>
                          </div>
                          <p class="win-reminder">Gagné ! <i class="fas fa-award"></i></p>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <%end%>
          </div>
        <% else %>
          <%# CARD BET RUNNING %>
          <div class="image-card-link">
            <%= link_to bet_path(betting.bet) do %>
              <div class="card index-border-radius-style index-shadow my-3">
                <%# CARD TOP %>
                <div class="card-top p-3">
                  <div class="index-border-radius-style card-img-bg  card-sm p-3 d-flex" style="background-image: url(<%= cl_image_path(betting.bet.photo.key, alt: "Image that illustrates the bet") %>);">
                    <p class="tag-position" data-controller="countdown" data-countdown-target='timer' data-countdown-date-value="<%= betting.bet.expiring_at %>"></p>
                  </div>
                </div>
                <%# CARD BOTTOM %>
                <div class="index-card-grey-background index-bottom-border-radius-style p-3">
                  <p class="index-card-question"><%= betting.bet.question %></p>
                  <div class="answer-show d-flex justify-content-between">
                    <% if betting.answer == "yes" %>
                      <div class="user-choice btn index-button-cote index-button-oui index-shadow">
                        <p class="answer">oui</p>
                        <div>
                          <p>cote</p>
                          <p>1.9</p>
                        </div>
                      </div>
                      <div class="other-choice btn index-button-cote index-button-non index-shadow">
                        <p class="answer">non</p>
                        <div>
                          <p>cote</p>
                          <p>2.1</p>
                        </div>
                      </div>
                    <% else %>
                      <div class="other-choice btn index-button-cote index-button-oui index-shadow">
                        <p class="answer">oui</p>
                        <div>
                          <p>cote</p>
                          <p>1.9</p>
                        </div>
                      </div>
                      <div class="user-choice btn index-button-cote index-button-non index-shadow">
                        <p class="answer">non</p>
                        <div>
                          <p>cote</p>
                          <p>2.1</p>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <%end%>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
