<div class="container mt-5 mb-5">

  <div class="cards">

      <div class="card index-border-radius-style index-shadow my-3" id="card-<%= @bet.id %>">
        <div class="px-1 pt-1 mx-1 d-flex justify-content-between">
          <p class="card-title d-inline float-start"><%= @bet.hashtag %></p>
          <%= link_to bets_path do %>
            <i class="far fa-times-circle" style="color:black"></i>
          <%end%>
        </div>
        <div class="image-position">
          <%= cl_image_tag(@bet.photo.key, class: "card-img-top index-border-radius-style", alt: "Image that illustrates the bet") %>
          <p class="tag-position" data-controller="countdown" data-countdown-target='timer' data-countdown-date-value="<%= @bet.expiring_at %>"></p>
        </div>
        <div class="user-infos">
            <p > <%= cl_image_tag @bet.publisher.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %> <a href="https://user.com/en/"><%= @bet.publisher.username %></a> </p>
        </div>
          <div class="container">
            <p class="index-card-description"><%= @bet.description %></p>
          </div>
          <p class="index-card-url">
            <% @medias.each do |media| %>
              <a href="<%= media.url %>"><%= media.url[0..40] %></a>
            <% end %>
          </p>
          <div class="index-card-grey-background index-bottom-border-radius-style pb-3 mb-5" data-controller="publishedconfirmed">
            <p class="index-card-question"><%= @bet.question %></p>
            <div class="btn-publication" data-publishedconfirmed-target="container">
              <% if !current_user.user_bets.include?(@bet) %>
                <%= link_to "#", "data-action": "click->publishedconfirmed#close", "data-id": @bet.id, "data-result": "yes" do %>
                  <div class="btn-publication-yes">
                    <p>Publier OUI</p>
                  </div>
                <% end %>
                <%= link_to "#", "data-action": "click->publishedconfirmed#close", "data-id": @bet.id, "data-result": "no" do %>
                  <div class="btn-publication-no mt-3">
                    <p>Publier NON</p>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
      </div>

  </div>

</div>
