<div class="new-bet">
  <%# <h1>Lance ton pari !</h1> %>
  <div class="publication-form d-flex align-items-center">

    <%= simple_form_for [ @bet ] do |f| %>
      <%# <%= f.error_messages %>


      <%= render "#{@bet.current_step}_step", :f => f %>
      <p class="next-button-alignment"><%= f.submit "Suivant", class: "next-button ml-auto" %></p>
      <p><%= f.submit "Retour", :name => "back_button" unless @bet.first_step? %></p>

      <%# <%= f.submit "Valider", class: "invisible" unless @bet.last_step? %>
    <% end %>
  </div>
</div>
