<h1>Lance ton pari !</h1>

<div class="publication-form">
  <%= simple_form_for [ @bet ] do |f| %>
    <%= f.input :category, as: :check_boxes, :collection => ["Culture", "Economie", "Politique", "Sport", "Planète", "Science", "Technologie", "Santé", "Divertissement"], :label => "Choisis ta catégorie" %>
    <%= f.input :hashtag, :placeholder => "#foot #coupedumonde", :label => "Cible ton sujet à l'aide de #Hashtags" %>
    <%= f.input :question, :placeholder => "La france va t-elle gagner ?", :label => "Pose ta question" %>
    <%= f.input :expiring_at, :label => "Date de clôture du pari" %>
    <%= f.input :photo, as: :file, :label => "Télécharge une photo" %>
    <%= f.input :description, :placeholder => "La 22ème édition de la Coupe du monde de football 2022, organisée par la FIFA, se déroulera au Qatar du 21 novembre au 18 décembre 2022...", :label => "Parle nous du sujet, du contexte... " %>
    <%= f.simple_fields_for :medias do |f| %>
      <%= render 'medias_simple_fields', f: f %>
    <% end %>
    <%= f.submit "Valider", class: "btn btn-primary" %>
  <% end %>
</div>
