<h1>Publie ton pari !</h1>

<div class="publish-form">
  <%= simple_form_for [ @bet ] do |f| %>
    <%= f.input :category, :label => "Choisis ta catégorie",:collection => ["Culture", "Economie", "Politique", "Sport", "Planète", "Science", "Technologie", "Santé", "Divertissement"] %>
    <%= f.input :hashtag, :label => "Cible ton sujet à l'aide de #Hashtags" %>
    <%= f.input :question, :label => "Pose ta question" %>
    <%= f.input :description, :label => "Parles-nous un peu du sujet... " %>
    <%= f.input :photo, as: :file, :label => "Télécharge une photo" %>
  <%= f.fields_for :medias do |form| %>
    <%= f.input :url, :label => "As-tu des liens à nous partager pour en savoir plus sur le sujet ?" %>
  <% end %>
    <%= f.submit "Publie", class: "btn btn-primary" %>
  <% end %>
</div>
