<div class="userbets">

  <%= render 'shared/navbar-user' %>

  <div class="betlist">
    <div class="btn-group-user" role="group">
      <%= link_to "Mes paris publiés",  published_profile_bets_path, class: "btn-active-bet" %>
      <%= link_to "Mes paris répondus", profile_bettings_path,       class: "btn-bet" %>
    </div>

    <div class="cards">
      <%# <div class="px-1 pt-1 mx-1">
          <p class="card-title d-inline float-start"></p>
      </div> %>
      <% @bets_published.each do |bet| %>
        <div class="card index-border-radius-style index-shadow my-3 publication ">
          <div class="image-position">
            <%= cl_image_tag(bet.photo.key, class: "card-img-top index-border-radius-style", alt: "Image that illustrates the bet") %>
          </div>
          <div class="pt-0">
            <p class="index-learn-more-button index-learn-more-hover index-shadow small-btn"><%= link_to "Relire le pari", bet_path(bet), class: "text-decoration-none" %></p>
          </div>
          <div class="card-grey">
            <p class="card-subtitle index-card-question"><%= bet.question %></p>
            <% if bet.expiring_at < Time.now %>
              <p class="black-info"> Pari clôturé le <%= (bet.expiring_at).strftime("%d/%m/%y") %></p>
            <% else %>
              <p class="index-learn-more-button yellow index-learn-more-hover"> Résultat à publier le <%= (bet.expiring_at).strftime("%d/%m/%Y") %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
