<div class="userbets">

  <%= render 'shared/navbar-user' %>

  <div class="betlist">
    <div class="btn-group-user" role="group">
      <%= link_to "Mes paris publiés",  published_profile_bets_path, class: "btn-active-bet" %>
      <%= link_to "Mes paris répondus", profile_bettings_path,       class: "btn-bet" %>
    </div>

    <div class="cards">
      <%# <div class="px-1 pt-1 mx-1">
          <p class="card-title d-inline float-start"></p>
      </div> %>
      <% @bets_published.each do |bet| %>
        <div class="image-card-link">
          <%= link_to bet_path(bet) do %>
            <div class="card index-border-radius-style index-shadow my-3 publication" >
              <div class="image-position">
                <%= cl_image_tag(bet.photo.key, class: "card-img-top index-border-radius-style", alt: "Image that illustrates the bet") %>
                <p class="tag-position" data-controller="countdown" data-countdown-target='timer' data-countdown-date-value="<%= bet.expiring_at %>"></p>
              </div>
              <div class="card-grey">
                <p class="card-subtitle index-card-question"><%= bet.question %></p>
                <% if bet.result %>
                  <% if bet.result == "yes" %>
                    <p class="result"> Résultat : <span>OUI</span></p>
                  <% else %>
                    <p class="result"> Résultat : <span>NON</span></p>
                  <% end %>
                <% else %>
                  <% if bet.expiring_at < Date.current %>
                    <p class="index-learn-more-button yellow index-learn-more-hover"> <%= link_to "Publie vite le résultat !", closing_bet_path(bet) %> </p>
                  <% elsif bet.expiring_at == Date.current %>
                    <p class="index-learn-more-button yellow index-learn-more-hover"> <%= link_to "Publie le résultat aujourd'hui !", closing_bet_path(bet) %> </p>
                  <% else %>
                    <p class="yellow-black"> Résultat à publier le <%= (bet.expiring_at).strftime("%d/%m/%Y") %></p>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
