<div class="userbets">

  <%= render 'shared/navbar-user' %>

  <div class="betlist">
    <div class="btn-group-user" role="group">
      <%= link_to "Mes paris publiés",  published_profile_bets_path, class: "btn-active-bet" %>
      <%= link_to "Mes paris répondus", profile_bettings_path,       class: "btn-bet" %>
    </div>

    <div class="cards">
      <% @bets_published.each do |bet| %>
        <div class="card index-border-radius-style index-shadow my-3">
          <div class="image-position">
            <%= cl_image_tag(bet.photo.key, class: "card-img-top index-border-radius-style", alt: "Image that illustrates the bet") %>
          </div>
          <div class="index-card-grey-background index-bottom-border-radius-style mb-3">
            <p class="index-card-question"><%= bet.question %></p>
            <p class="index-learn-more-button black index-learn-more-hover"><%= link_to "Relire le pari", bet_path(bet), class: "text-decoration-none" %></p>
          </div>
          <div>
            <% if bet.expiring_at < Time.now %>
              <p black-yellow> Pari clôturé le <%= (bet.expiring_at).strftime("%d/%m/%Y") %></p>
            <% else %>
              <p class="index-learn-more-button yellow index-learn-more-hover"> Réponse à publier le <%= (bet.expiring_at).strftime("%d/%m/%Y") %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
