<div class="userbets">

  <%= render 'shared/navbar-user' %>

  <div class="betlist">
    <div class="btn-group" role="group">
      <%= link_to "Mes paris publiés",  published_profile_bets_path, class: "btn-active-bet" %>
      <%= link_to "Mes paris répondus", profile_bettings_path,       class: "btn-bet" %>
    </div>
    <br>
    <br>
    <div class="cards">
      <% @bets_published.each do |bet| %>
        <div class="card index-border-radius-style index-shadow my-3">
          <div class="image-position">
            <%= cl_image_tag(bet.photo.key, class: "card-img-top index-border-radius-style", alt: "Image that illustrates the bet") %>
          </div>
          <div class="index-card-grey-background index-bottom-border-radius-style pb-3">
            <p class="index-card-question"><%= bet.question %></p>
          </div>
          <div>
          <p class="index-learn-more-button index-learn-more-hover"><%= link_to "+ Relire ce pari", bet_path(bet), class: "text-decoration-none" %></p>
          <p> <%= (bet.expiring_at + 10 - DateTime.now).to_i / 86400 %></p>
        </div>
      <% end %>

    </div>
  </div>
</div>
<%# cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle mt-5", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
