<div class="container mt-5 mb-5">

  <div class="cards">
    <%# CARD %>
    <div class="card index-border-radius-style index-shadow card-layout-show">
      <%# CARD TOP %>
      <div class="card-top p-3">
        <div class="px-1 pt-1 mx-1 d-flex justify-content-between">
          <p class="card-title mb-0"><%= @bet.hashtag %></p>
          <%= link_to bets_path do %>
            <i class="far fa-times-circle" style="color:black"></i>
          <%end%>
        </div>
        <div class="index-border-radius-style card-img-bg p-3 d-flex" style="background-image: url(<%= cl_image_path(@bet.photo.key, alt: "Image that illustrates the bet") %>);">
          <p class="tag-position" data-controller="countdown" data-countdown-target='timer' data-countdown-date-value="<%= @bet.expiring_at.to_time.iso8601 %>"></p>
        </div>
        <div class="user-infos pt-3">
          <p><%= @bet.publisher.photo.key.nil? ?  (link_to image_tag("profilpicture.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false)) : (cl_image_tag @bet.publisher.photo.key, class: "avatar mb-1") %> <%= @bet.publisher.username %></p>
          <%# <p> <%= cl_image_tag @bet.publisher.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false <a href="https://user.com/en/"><%= @bet.publisher.username</a> </p> %>
        </div>
        <div>
          <p class="index-card-description"><%= @bet.description %></p>
          <p class="index-card-url">
            <% @medias.each do |media| %>
              <a href="<%= media.url %>"><%= media.url[0..40] %></a>
            <% end %>
          </p>
        </div>
      </div>
      <%# CARD BOTTOM %>
      <div class="index-card-grey-background index-bottom-border-radius-style p-3">
        <p class="index-card-question"><%= @bet.question %></p>
        <div class="d-flex justify-content-around" data-controller="vote" data-vote-target="container">
        <% if !current_user.user_bets.include?(@bet) %>
          <%# <%= link_to yes_bet_bettings_path(@bet), method: :post do %>
            <%# <div class="btn index-button-cote index-button-oui index-shadow"> %>
              <%# <p>oui</p> %>
              <%# <div> %>
                <%# <p>cote</p> %>
                <%# <p><%= @bet.yes_odds.round(1)</p> %>
              <%# </div> %>
            <%# </div> %>
          <%# <% end %>

          <div data-controller="popup"
              data-popup-title-value="Combien mises-tu de BetKoins ?"
              data-popup-icon-path-value="<%= h(image_path('BetKoin.png', size: '17x17')) %>"
              data-popup-ok-value=""
              data-popup-main-text-value=""
              data-popup-wallet-value=<%= current_user.wallet %>>
            <button  class="btn index-button-cote index-button-oui index-shadow" data-vote-target='voteyes' data-popup-target='yes' data-id='<%= @bet.id %>' data-action="click->popup#confirmSubmityes confirmedyes<%= @bet.id %>@window->vote#yes">
              <p>oui</p>
              <div>
                <p>cote</p>
                <p><%= @bet.yes_odds.round(1) %></p>
              </div>
            </button>
          </div>


          <%# <%= link_to no_bet_bettings_path(@bet), method: :post do %>
            <%# <div class="btn index-button-cote index-button-non index-shadow"> %>
              <%# <p>non</p> %>
              <%# <div> %>
                <%# <p>cote</p> %>
                <%# <p><%= @bet.no_odds.round(1)</p>  %>
              <%# </div> %>
            <%# </div> %>
          <%# <% end %>

          <div data-controller="popup"
              data-popup-title-value="Combien mises-tu de BetKoins ?"
              data-popup-icon-path-value="<%= h(image_path('BetKoin.png', size: '17x17')) %>"
              data-popup-ok-value=""
              data-popup-main-text-value=""
              data-popup-wallet-value=<%= current_user.wallet %>>
            <button  class="btn index-button-cote index-button-non index-shadow" data-vote-target='voteno' data-popup-target='no' data-id='<%= @bet.id %>' data-action="click->popup#confirmSubmitno confirmedno<%= @bet.id %>@window->vote#no">
              <p>non</p>
              <div>
                <p>cote</p>
                <p><%= @bet.no_odds.round(1) %></p>
              </div>
            </button>
          </div>


        <% else %>
          <div class="validate-bet-wrapper d-flex justify-content-center">
            <div class="validated-bet-tag d-flex justify-content-around align-items-center">
              <i class="far fa-check-circle"></i>
              <p class="m-0">Ton pari a été validé</p>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
