<%= render 'shared/navbar-user' %>


<div class="light-grey-bckgrnd">
  <div class="container-ranking mx-2 mt-4 mb-5">

    <div class="btn-group-user" role="group">
      <%= link_to "Classement",  users_path, class: "btn-bet" %>
      <%= link_to "Badges", badge_user_path(@user), class: "btn-active-bet" %>
    </div>

    <div class="badges">

      <div data-controller="badge"
           data-badge-icon-value="<i class='fas fa-money-bill-alt'></i>"
           data-badge-title-value="Riche"
           data-badge-main-text-value="Tu as au moins 2000 BetKoins!"
           data-badge-footer-value="Actuellement tu as <%= current_user.wallet.round %> BetKoins"
           class="badge <%= current_user.wallet.round > 2000 ? "active" : "inactive" %>"
           data-action="click->badge#badgeinfo">
        <i class="fas fa-money-bill-alt"></i>
      </div>

      <div class="badge inactive">
        <i class="fas fa-dollar-sign"></i>
      </div>

      <div class="badge inactive">
        <i class="fas fa-envelope"></i>
      </div>

      <div class="badge inactive">
        <i class="fab fa-btc"></i>
      </div>

      <div class="badge inactive">
        <i class="fab fa-creative-commons-zero"></i>
      </div>

    </div>


  </div>
</div>
