<div class="current-user-result">
  <div class="index-circle">
    <% if @current_user_index == 0 %>
      <p><%= "#{@current_user_index + 1}" %><span>er</span> </p>
    <% else %>
      <p><%= "#{@current_user_index + 1}" %><span>ème</span></p>
    <% end %>
  </div>
  <div class="wallet-circle">
    <p> <%= current_user.wallet.round(0)%> <%= image_tag("BetKoin.png", size: "17x17")%> </p>
  </div>
</div>



<div class="container-ranking mx-2 my-2">

    <div class="btn-group-user" role="group">
      <%= link_to "Classement",  users_path, class: "btn-active-bet" %>
      <%= link_to "Badges", badge_user_path(current_user), class: "btn-bet" %>
    </div>

  <div class="users-list mt-4">
    <% @users.each_with_index do |user, index| %>
      <div class="ranking-user-info">
        <div class="rank">
          <p> <%= "#{index + 1}" %> </p>
        </div>
        <div class=<%= user == current_user ? "ranking-yellow-container" : "ranking-black-container" %>>
          <%= user.photo.key.nil? ?  (link_to image_tag("profilpicture.png", class: "avatar mt-2")) : (cl_image_tag user.photo.key, class: "avatar mt-2") %>
          <%# <div class="name-wallet"> %>
          <p class="name"><%= user.username %></p>
          <div class="wallet">
            <% if index > 0 %>
              <p class="gap"><i class="fas fa-caret-up"></i><%= " #{(user.wallet - @users[index-1].wallet.round(0)).to_i.abs()}" %></p>
            <% end %>
            <p><%= image_tag("BetKoin.png", size: "17x17", class: "mb-1")%> <%= user.wallet.round(0) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
