<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path do  %>
      <%= '<i class="fas fa-home"></i>'.html_safe %>
    <% end %>
    <%= link_to root_path do  %>
      <%= '<i class="fas fa-trophy"></i>'.html_safe %>
    <% end %>
    <%= link_to new_bet_path do  %>
      <%= '<i class="fas fa-plus-circle"></i>'.html_safe %>
    <% end %>
    <%= link_to root_path do  %>
      <%= '<i class="fas fa-users"></i>'.html_safe %>
    <% end %>
      <%= link_to profile_bettings_path do  %>
      <%= '<i class="far fa-user"></i>'.html_safe %>
    <% end %>
  </div>
</div>
