<div class="background-navbar">
  <div class="navbar-user d-flex align-items-center flex-column">
    <% if current_user.wallet == 0 %>
      <p><%= image_tag("BetKoin.png", size: "17x17")%><%= current_user.wallet.round %> BetKoin </p>
    <% elsif current_user.wallet.round == 1 %>
      <p><%= image_tag("BetKoin.png", size: "17x17")%><%= current_user.wallet.round %> BetKoin </p>
    <% elsif current_user.wallet.round > 1 %>
      <p><%= image_tag("BetKoin.png", size: "17x17")%><%= current_user.wallet.round %> BetKoins </p>
    <% end %>
    <%= cl_image_tag current_user.photo.key, class: "avatar mt-2" %>
  </div>
</div>
