<div class="navbar navbar-expand-sm">
  <%# <div class="container-fluid"> %>
    <%= link_to bets_path do  %>
      <div class="d-flex align-items-center flex-column">
        <%= '<i class="fas fa-home"></i>'.html_safe %>
        <p>Paris</p>
      </div>
    <% end %>

  <%= link_to user_signed_in? ? new_bet_path : new_user_session_path , class: "link-to-publish" do  %>
    <div class="d-flex align-items-center flex-column publish-button">
      <button>
        <span class="text">
          <i class="fas fa-plus"></i>
        </span>
      </button>
    </div>
    <p>Publier</p>
  <% end %>

  <%= link_to profile_bettings_path do  %>
    <div class="d-flex align-items-center flex-column">
      <%= '<i class="fas fa-user-circle"></i>'.html_safe %>
      <p>Profil</p>
    </div>
  <% end %>
  <%# </div> %>
</div>
<%# navbar-light navbar-lewagon %>
